<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981830395471-df5engt48glm46i0pou59qmpcpd3mmvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981830395471-df5engt48glm46i0pou59qmpcpd3mmvh</string>
	<key>API_KEY</key>
	<string>AIzaSyBhk098nffIhZGA0YAJkzCMEWPB3ck0Rm4</string>
	<key>GCM_SENDER_ID</key>
	<string>981830395471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>liveu.live</string>
	<key>PROJECT_ID</key>
	<string>liveu-b966c</string>
	<key>STORAGE_BUCKET</key>
	<string>liveu-b966c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981830395471:ios:082b7693369f7f1a5f2c3a</string>
</dict>
</plist>